---
import ItContentPage from '../../../../components/ItContentPage.astro';
---

<ItContentPage title="Haubentaucher">
  <p>
    Die Haubentaucher sind jene Gesichter des 84. Banners, die im Lager, auf
    Reisen und im diplomatischen Umgang mit fremden Landen besonders in
    Erscheinung treten. Ihre Charakterakten versammeln, was über Herkunft,
    Auftreten, Stärken, Schwächen und die eine oder andere Anekdote bekannt
    ist.
  </p>
</ItContentPage>
