---
import ItContentPage from '../../../components/ItContentPage.astro';
---

<ItContentPage title="Aloyer Redensarten">
  <p>Aloyer Redensarten sind kurze Spiegel des Volkscharakters. Sie zeigen, worüber gelacht, gewarnt, gespottet und nachgedacht wird. Manche sind alt, manche nur angeblich alt, und manche entstehen vermutlich erst in dem Augenblick, in dem ein Bürger behauptet, sein Großvater habe sie schon gekannt. <br><br>
Bekannt ist die alte Rechtsformel: „Rechter Richter richte Recht, Miram ist Richter, du bist Knecht.“ Sie erinnert daran, dass menschliche Richter nicht Herren des Rechts sind, sondern ihm dienen. Diese Redensart verbindet Rechtsprechung, Demut und Mirams Ausgleichsgedanken. <br><br>
Aus dem aloyischen Jahres- und Volksbrauch sind auch Wetter- und Monatssprüche überliefert, etwa: „Hört Waldtraut nicht den Kuckuck schrein, dann muss er wohl erfroren sein.“ Solche Sprüche sind nicht immer wissenschaftlich belastbar, doch sie erfreuen das Volk und werden daher mit einer gewissen Nachsicht geführt. <br><br>
Viele Redensarten betreffen Arbeit, Freiheit, Adel, gutes Bier, schlechte Ware oder fremde Manieren. Sie können grob, direkt und wenig höfisch sein. Gerade darin zeigen sie aloyisches Wesen: lieber klare Rede als geschliffene Unterwürfigkeit. <br><br>
Auch Warnungen und Aushänge können redensartlichen Charakter annehmen. Öffentliche Beschwerden über schlechte Händler, kaputte Waren, ungebührliches Benehmen oder Festverstöße werden in Aloy gern mit Nachdruck formuliert. Das schwarze Brett ist daher nicht nur Nachrichtenträger, sondern gelegentlich auch Volksbühne. <br><br>
Die Akademie sammelt Redensarten mit Vorsicht. Manche sind wertvolle Zeugnisse des Volksmundes, andere beleidigen mehr, als sie erklären. Dennoch gilt: Wer Aloyer Redensarten versteht, versteht oft schneller, wie das Volk denkt, als durch die Lektüre dreier Ratsprotokolle. <br><br></p>
</ItContentPage>
