---
import ItContentPage from '../../../components/ItContentPage.astro';
---

<ItContentPage title="Zünfte und ehrbare Gewerbe">
  <p>Die Zünfte gehören zu den wichtigsten Ordnungen des aloyischen Alltags. Sie vertreten Handwerk, Handel und Gewerbe, sichern Ausbildung, prüfen Können, wahren Qualität und geben ihren Mitgliedern eine Stimme im Gefüge der Republik. <br><br>
In Aloy finden sich zahlreiche ehrbare Gewerbe: Metallzünfte, Lederzünfte, Stoffzünfte, Baumeister, Bäcker, Metzger, Müller, Händler zu Land, Händler zu Wasser, Schiffbauer, Bauern, Bierbrauer, Whiskybrenner, Torfstecher und weitere Berufsgruppen. Manche Zünfte sind groß und einflussreich, andere kleiner, doch alle tragen auf eigene Weise zum Leben der Republik bei. <br><br>
Eine Zunft ist nicht bloß eine Vereinigung Gleichgesinnter. Sie regelt Ausbildung, Lehrzeit, Gesellenprüfung, Meisterschaft, Qualität und oft auch den Ruf eines ganzen Gewerbes. Wer unter dem Namen einer Zunft arbeitet, vertritt nicht nur sich selbst, sondern auch alle anderen, die diesem Gewerbe angehören. <br><br>
Die Akademie ist mit den Zünften eng verbunden, da sie Abschlussprüfungen, einheitliche Maßstäbe und geordnete Ausbildung unterstützt. Dies soll verhindern, dass jeder Meister seine eigenen Regeln für allgemeingültig erklärt und jeder Pfuscher seinen Mangel als lokale Tradition ausgibt. <br><br>
Viele Zünfte besitzen eigene Bräuche und Wahlverfahren. Die Müller wählen ihren Vertreter durch das Mühlradsteinern, bei dem Mühlräder über eine bemehlte Bahn gerollt werden. Die Metzger kennen das große Aloyer Schinkenklopfen. Die Stoffzünfte bestimmen Vertreter durch Losverfahren mit bestickten oder beschrifteten Stoffstücken. Die Schiffbauer nutzen eine geheime Wahl durch Briefkasten in Tiafunt, wobei die Registernotiz über regelmäßig zu viele Stimmabgaben nicht verschwiegen werden soll. <br><br>
Solche Verfahren mögen Fremden wunderlich erscheinen. In Aloy gelten sie jedoch als Ausdruck zünftischer Eigenart, solange sie zu einer anerkannten Stimme führen und den Frieden nicht ernstlich gefährden. Der Rat lässt den Zünften hierbei gewöhnlich Spielraum, denn wer einer Zunft ihre alten Bräuche nimmt, muss mit längeren Erklärungen, Beschwerden und im schlimmsten Fall schlechterem Brot rechnen. <br><br>
Ehrbare Gewerbe besitzen nicht nur wirtschaftlichen, sondern auch politischen Wert. Zunftvertreter sitzen im Rat, bringen Anliegen ihrer Berufsstände vor und wirken an Entscheidungen mit, die Handel, Abgaben, Qualität, Wege, Ausbildung und Versorgung betreffen. Damit sind die Zünfte ein wesentliches Bindeglied zwischen arbeitender Bürgerschaft und republikanischer Ordnung. <br><br>
Zünfte und Gewerbe zeigen, dass Aloy Ansehen nicht aus Geburt, sondern aus Können und anerkanntem Dienst schöpft. Ein Meister, der sein Handwerk versteht, besitzt in der Republik mehr wirklichen Wert als ein fremder Herr, der nur auf seine Ahnen verweist. <br><br></p>
</ItContentPage>
